html
{
   padding:0px;
   color: white;
   text-shadow: 2px 2px 2px black;
   font-size: 24px;
   font-family: 'Roboto', sans-serif;
   font-weight: 300;
}
body
{
   padding: 0px;
   margin: 0px;
}
#background
{
   position: fixed;
   left: -16;
   right: -16;
   top: -16;
   z-index: -1;
   display: block;
   background-image: url('bg.jpg');
   background-repeat:no-repeat;
   background-size: 100% 100%;
   width: 120%;
   height: 120%;
   -webkit-filter: blur(8px);
   -moz-filter: blur(8px);
   -o-filter: blur(8px);
   -ms-filter: blur(8px);
   filter: blur(8px);
}
a:link, a:visited
{
   text-decoration: none;
   color: #29c3ff;
}
a:hover
{
   color: #b6eaff;
}
#tip
{
   box-shadow: 0px 4px 33px rgba(0,0,0,0.7);
   background-image: url('tbg.jpg');
   margin-top:50px;
   font-size: 32px;
   line-height: 37px;
   margin-left: auto;
   margin-right: auto;
   height: 400px;
   width: 500px;
   padding: 8px;
   border: 0px solid black;
   border-radius: 25px;
   
}
#shelf
{
   padding: 18px;
   font-size: 32px;
   line-height: 35px;
   margin-left: auto;
   margin-right: auto;
   margin-top: -70px;
   width: 495px;
   height: 60px;
   border: 0px solid black;
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
h1
{
   font-size: 44px;
}
h1, h2
{
   margin: 4px;
   margin-bottom: 13px;
   font-weight: 400;
}
p
{
   margin: 4px;
}
#footer
{
   position: fixed;
   width: 100%;
   height: 100px;
   bottom: 0px;
   background: linear-gradient(transparent, rgba(0,0,0,.7) 100%);
}
#footer span
{
   position: fixed;
   bottom:8px;
   left:8px;
}
#shelf span
{
   cursor: pointer;
   _text-shadow: 0px 0px 0px transparent;
   margin-left: 34px;
   margin-right: 34px;
}